<div class="w-100 card  border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Owner settlement</h3>
            </div>
        </div>
    </div>
    <div class="card-body border py-4">
        <div class="mb-3">
            <label for="status-filter" class="form-label fw-bold">Filter by payment status:</label>
            <select id="status-filter" class="form-select w-auto d-inline-block">
                <option value="">-- All --</option>
                <option value="Paid">Paid</option>
                <option value="Unpaid" selected>Unpaid</option>
                <option value="Overdue">Overdue</option>
            </select>
        </div>
        <div id="myTable" class="w-100 h-100"></div>
        <button id="bulkPayBtn" class="btn btn-success mb-3">Pay</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/OwnerSettlement.js">
</script>

}
